
/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #eeeeee;

$orange: #f9a115;
$green: #43d99d;
$white: #ffffff;

$primary: $orange;
$secondary: $green;
$light: $white;

$theme-colors:
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  );

// sizing
$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default
