
/* -------begin customization-------- */

/* simply assign the value */
$body-bg: #eeeeee;

$orange: #f9a115;
$green: #43d99d;

$primary: $orange;
$secondary: $green;

$theme-colors:
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  );

